html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    font-family: "Overpass";
}

button {
    font-family: "Overpass";
    cursor: pointer;
}

.container {
    background-color: hsl(213, 19%, 18%);
    background: linear-gradient(hsl(213, 19%, 18%), hsl(212, 19%, 14%));
    width: 270px;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.component-icon {
    height: 12px;
    width: 12px;
    background-color: hsl(217, 12%, 63%, 0.15);
    border-radius: 20px;
    padding: 13px;
    margin-bottom: 10px;
}

.header {
    font-size: 1.31rem;
    font-weight: 550;
}

.text {
    font-size: 0.75rem;
    color: hsl(217, 12%, 63%);
    line-height: 1.6;
}

.rating-buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rating-button {
    height: 40px;
    width: 40px;
    color: hsl(217, 12%, 63%);
    background-color: hsl(217, 12%, 63%, 0.15);
    border: 0px;
    border-radius: 40px;
    font-weight: bold;
}

button:hover {
    background-color: white;
    color: black;
}

.submit-button {
    background-color: hsl(25, 97%, 53%);
    height: 35px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
    letter-spacing: 1.1px;
    border: solid 2px black;
}

.selected {
    background-color: hsl(25, 97%, 53%);
    color: black;
}

#selected-rating-section {
    display: none;
    align-items: center;
}

.user-selected-rating-container {
    display: flex;
    justify-content: center;
    gap: 2px;
    border-radius: 20px;
    color: hsl(25, 97%, 53%);
    background-color: hsl(217, 12%, 63%, 0.15);
    font-size: 0.75rem;
    padding: 5px 15px;
    font-weight: 200;
}

.rating-text-img {
    height: 90px;
}

.thank-for-rating-text {
    text-align: center;
}

@media screen and (max-width: 600px) {
    * {
        font-size: calc(100% + 2px);
    }

    .rating-button {
        font-size: 16px;
    }

    .submit-button {
        height: 45px;
    }
}